.App {
    display: flex !important ;
    flex-direction: column !important;
   
    height: 100vh !important;
  }
  
  .App-header {
    background-color: #262626 !important;
    overflow: visible !important;
    width: 100% !important;
    text-align: center !important;
    color: white !important;
  }
  
  .Messages-list {
    padding: 20px 0 !important;
    width: 100% !important;
    margin: 0 auto !important;
    list-style: none !important;
    padding-left: 0 !important;
    overflow: auto !important;
  }
  
  .Messages-message {
    display: flex !important;
    margin-top: 10px !important;
  }
  
  .Messages-message.currentMember {
    /*justify-content: flex-end !important;*/
    flex-direction: row-reverse !important;
    text-align: right !important;
  }
  
  .Message-content {
    display: inline-block !important;
  }
  
  .currentMember > .Message-content {
    align-items: flex-end !important;
  }
  
  .Messages-message > .avatar {
    height: 45px !important;
    width: 45px !important;
    border-radius: 50% !important;
    display: inline-block !important;
    margin: 0 10px -10px !important;
     
  }
  
  .Message-content > .username {
    display: block !important;
    color: gray !important;
    font-size: 14px !important;
    padding-bottom: 4px !important;
  }
  
  .Message-content > .text {
    padding: 10px !important;
    margin: 10px !important;
    color: #000 !important;
    display: inline-block !important;
    position: relative;
  }
  .Message-content > .text:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #49b84c;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -20px;
  }
  
  .currentMember > .Message-content .text {
    background-color: orangered ;
  }
  
  form {
    display: flex !important;  
  }

  button{
    background-color: #49b84c;
    border:0;
  }