
    .searchicon{
      position: absolute;
      /* margin-left: 19%; */
       left:0px;
       padding-left: 19%;
      margin-left: 23%;
      margin-top:0.%;
      margin-bottom: 0.6%; 

      font-size: 30px;
    }
    .locationicon{
      position: absolute;
      left:0px;
      margin-left: 57%;
      margin-top:0.2%;
      margin-bottom: 0.1%;
      font-size: 20px;
    }
    .search-input-productpage{
        width:25%;
        margin-left: 30%;
        padding-left:3%;
        height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 0px;
    /* -webkit-box-shadow: none !important; */
    box-shadow: none !important;
    }
    .try{
      margin-left:19%;
      height:34px !important;
      width:1% !important;
      padding-left:1%;
    }
    .trys{
      height:34px !important;
      margin-left:2% !important; 
      padding-left:1%;
      margin-right: 2%;
    }
    /* .search-input-productpage:focus {
      height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 0px;
    box-shadow: none !important;
    } */
    .location-search-input-productpage{
      width:25%;
      margin-left: 1%;
      padding-left:3%;
  }
  .location-search-input-productpage:focus{
    border-color:	rgb(0, 0, 0,0.3) !important;
    background-color: #fff;
    outline: 0;
    box-shadow:	rgb(0, 0, 0,3) !important;;
  }
  .search-button{
    border-radius:10px;
    margin-right: 1%;
    background:#82ae46;
    border:0;
    width:10%;
    color:white;
    font-size: 22px;
  }
  
  @media (max-width: 907px){
  .try{
      width:100% !important;
      margin-left:22%;
      height:23% !important;
      padding-left:8%;
      box-sizing:border-box;
  }
 
  .trys{
    width:100% !important;
    margin-left:22% !important;
    margin-top:3%;
    padding-left:8% !important;
    height:23% !important;
  
}


.search-button{
    border-radius:10px;
    margin-left: 25%;
    margin-top:3%;
    background:#82ae46;
    border:0;
    color:white;
    width:33%;
    font-size: 22px;
  }
  .searchicon{
    position: absolute;
    left:0px;
    margin-left:26%;
    margin-top:0.3%;
    margin-bottom: 0.6%;
    font-size: 20px;
  }
  .locationicon{
    position: absolute;
    left:0px;
    margin-left:26%;
    /* margin-top:10%; */
    padding-Top:10.5%;
    font-size: 20px;
  }
} 
